<%# ТіЋуе┐т«їС║єсЃАсЃЃсѓ╗сЃ╝сѓИТіЋуе┐сЃЋсѓЕсЃ╝сЃатєЁт«╣ %>

<%= form_with(model: @message, local: true) do |f| %>

  <%= f.text_area :text, placeholder: "тєЁт«╣", rows: "10", id: "text" %>
  <button type="button" id="emoji-text">­Ъўђ</button>
  <emoji-picker hidden id="emoji-picker-text"></emoji-picker>
  <div class="click-upload">
    <br>
    <p>
      ућ╗тЃЈсѓњсѓбсЃЃсЃЌсЃГсЃ╝сЃЅ
    </p>
    <%= f.file_field :image, id:"message-image" %>
  </div>
  
  
  <%= f.submit "SEND" %>
<% end %>


