<%= form_with(model: @message, local: true) do |f| %>


  <%= f.text_area :text, placeholder: "内容", rows: "10", id: "text" %>
  <button type="button" id="emoji-text">😀</button>
  <emoji-picker hidden id="emoji-picker-text"></emoji-picker>
  <div class="click-upload">
    <br>
    <p>
      画像をアップロード
    </p>
    <%= f.file_field :image, id:"message-image" %>
  </div>
  
  
  <%= f.submit "SEND" %>
<% end %>


