<%# 投稿完了メッセージの一覧表示及び各種設定ページ %>
<div class="contents row">
<br>
<%= link_to '新しく投稿完了画面を追加する◁', new_message_path, method: :GET , class: "link" %>
<br>
<br>
<h3>あなたが設定した投稿完了画面です。以下のうちランダムに表示されます。</h3>
  <%= message_lists(@messages) %>

</div>