<div class="contents row">
  <div class="container">
    <h3>新しく投稿完了画面のメッセージ、画像を追加する</h3>      
    <%= render partial: "form", locals: { message: @message } %>
  </div>
  <%= link_to '戻る', messages_path, method: :GET  %>
</div>