      
      <% if month == 1 %>
        <a href='https://horti.jp/2881' target="_blank"  >
          <img src='/images/flowers/suisenn.png' height=150px width=150px class = "l"  style="transform: scale(1, 1)" />
          <img src='/images/flowers/suisenn.png' height=150px width=150px class = "r"  style="transform: scale(-1, 1)" />
        </a>
      <% end %>

      <% if month == 2 %>
        <a href='https://horti.jp/2547' target="_blank">
          <img src='/images/flowers/crocus004.png' height=150px width=150px class = "l" style="transform: scale(-1, 1)" />
          <img src='/images/flowers/crocus004.png' height=150px width=150px class = "r" style="transform: scale(1, 1)" />
        </a>
      <% end %>
      
      <% if month == 3 %>
        <a href='https://horti.jp/468' target="_blank"  >
          <img src='/images/flowers/anemone.png' height=180px width=180px class = "l" style="transform: scale(1, 1)" />
          <img src='/images/flowers/anemone.png' height=180px width=180px class = "r" style="transform: scale(-1, 1)" />
        </a>
      <% end %>

      <% if month == 4 %>
      <a href='https://horti.jp/1495' target="_blank"  >
          <img src='/images/flowers/panjii006.png' height=150px width=150px class = "l" style="transform: scale(-1, 1)" />
          <img src='/images/flowers/panjii006.png' height=150px width=150px class = "r" style="transform: scale(1, 1)" />
      </a>
      <% end %>

      <% if month == 5 %>
      <a href='https://horti.jp/11122' target="_blank"  >
          <img src='/images/flowers/flower2526.png' height=150px width=150px class = "l" style="transform: scale(-1, 1)" />
          <img src='/images/flowers/flower2526.png' height=150px width=150px class = "r" style="transform: scale(1, 1)" />
      </a>
      <% end %>

      <% if month == 6 %>
      <a href='https://lovegreen.net/languageofflower/p24296/' target="_blank"  >
          <img src='/images/flowers/azisai.png' height=120px width=120px class = "l" style="transform: scale(1, 1)" />
          <img src='/images/flowers/azisai.png' height=120px width=120px class = "r" style="transform: scale(-1, 1)" />
      </a>
      <% end %>

      <% if month == 7 %>
      <a href='https://horti.jp/3136' target="_blank"  >
          <img src='/images/flowers/yuri.png' height=130px width=130px class = "l" style="transform: scale(1, 1)" />
          <img src='/images/flowers/yuri.png' height=130px width=130px class = "r" style="transform: scale(-1, 1)" />
      </a>
      <% end %>

      <% if month == 8 %>
      <a href='https://horti.jp/120' target="_blank"  >
          <img src='/images/flowers/asagao.png' height=130px width=130px class = "l" style="transform: scale(-1, 1)" />
          <img src='/images/flowers/asagao.png' height=130px width=130px class = "r" style="transform: scale(1, 1)" />
      </a>
      <% end %>

      <% if month == 9 %>
      <a href='https://horti.jp/1311' target="_blank"  >
          <img src='/images/flowers/kinmokusei.png' height=130px width=130px class = "l" style="transform: scale(1, 1)" />
          <img src='/images/flowers/kinmokusei.png' height=130px width=130px class = "r" style="transform: scale(-1, 1)" />
      </a>

      <% if month == 10 %>
      <a href='https://horti.jp/433' target="_blank"  >
          <img src='/images/flowers/cosmos.png' height=130px width=130px class = "l" style="transform: scale(1, 1)" />
          <img src='/images/flowers/cosmos.png' height=130px width=130px class = "r" style="transform: scale(-1, 1)" />
      </a>

      <% end %>