      <div calss = "flower">
      <% if month == 1 %>
      <img src='/images/flowers/suisenn.png' height=12% width=12%  />
      <% end %>
      <% if month == 2 %>
      <img src='/images/flowers/crocus004.png' height=20% width=20%  />
      <% end %>
      <% if month == 3 %>
      <img src='/images/flowers/anemone.png' height=12% width=12%  />
      <% end %>
      <% if month == 4 %>
      <img src='/images/flowers/panjii006.png' height=18% width=18% style="transform: scale(-1, 1)" />
      <% end %>
      </div>