      
      <% if month == 1 %>
          <img src='/images/flowers/suisenn.png' height=150px width=150px class = "l"  style="transform: scale(1, 1)" />
          <img src='/images/flowers/suisenn.png' height=150px width=150px class = "r"  style="transform: scale(-1, 1)" />
      <% end %>

      <% if month == 2 %>
        <a href='https://horti.jp/2547' target="_blank">
          <img src='/images/flowers/crocus004.png' height=150px width=150px class = "l" style="transform: scale(-1, 1)"  />
        </a>
        <a href='https://horti.jp/2547' target="_blank"  >
          <img src='/images/flowers/crocus004.png' height=150px width=150px class = "r" style="transform: scale(1, 1)" />
        </a>
      <% end %>
      
      <% if month == 3 %>
        <a href='https://horti.jp/468' target="_blank"  >
          <img src='/images/flowers/anemone.png' height=180px width=180px class = "l" style="transform: scale(1, 1)" />
        </a>
        <a href='https://horti.jp/468' target="_blank"  >
          <img src='/images/flowers/anemone.png' height=180px width=180px class = "r" style="transform: scale(-1, 1)" />
        </a>
      <% end %>

      <% if month == 4 %>
          <img src='/images/flowers/panjii006.png' height=150px width=150px class = "l" style="transform: scale(-1, 1)" />
          <img src='/images/flowers/panjii006.png' height=150px width=150px class = "r" style="transform: scale(1, 1)" />
      <% end %>